.questions-question {
    background-color: @grey-solid-2;
    flex: 1;
    padding: @padding-md 0;

    &__header {
        border-bottom: 1px solid @grey-3;
        box-shadow: 0 1px 2px @grey-3;

        & .es-session-title {
            margin-top: 29px;
            margin-bottom: 30px;

            & .es-form-item {
                margin: 0;
            }
        }
    }

    &__subheader {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &--actions,
        &--indicators {
            display: flex;
            align-items: center;
        }

        @media (max-width: @screen-md) {
            &--indicators {
                display: none;
            }
            &--actions {
                flex: 1;
                justify-content: space-between;
                padding: 0 @padding-sm;
            }
        }
    }

    @media (max-width: @screen-lg) {
        & .without-padding.san-portal-layout__container {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.ant-modal-confirm-btns {
    button {
        padding: 0 @padding-md !important;
    }
}
