.course {
    .ant-divider {
        margin: 16px 0 !important;
        height: 1px !important;
    }
    .ant-page-header {
        border-bottom: 1px solid rgba(17, 19, 23, 0.15);
    }

    & .performance {
        padding-top: 52px;
        padding-bottom: 32px;
        border: 0.5px solid rgba(17, 19, 23, 0.15);
        background-color: rgba(247, 249, 252, 1);

        & .es-card {
            height: 100%;
        }

        &__card-commitment {
            &__content {
                height: 100%;
                align-items: center;
                justify-content: center;

                &--emoticon {
                    display: flex;
                    flex-direction: column;
                    width: min-content;
                    margin-bottom: 20px;

                    &--text {
                        display: flex;
                        justify-content: space-between;
                        margin: 4px 6px 0 6px;
                    }
                }
            }

            & > .ant-card-body {
                height: ~'calc(100% - 25px)';
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }

    & .interactions {
        padding-top: 48px;
        padding-bottom: 16px;

        &__column {
            margin-bottom: 32px;
        }
    }
}

.mb-md {
    margin-bottom: 16px;
}
