.course {
    &__header {
        border-bottom: 1px solid rgba(17, 19, 23, 0.1);
        padding: 0 !important;

        &__container {
            &__about-course {
                padding-bottom: @padding-md;
                border-bottom: 1px solid rgba(17, 19, 23, 0.15);
                margin-bottom: @margin-md;

                > div {
                    flex-flow: row !important;
                }

                &--name {
                    color: #000 !important;
                    font-size: 24px;
                    max-width: ~'calc(100% - 44px)';
                }

                &--category {
                    font-size: @font-size-xs;
                    color: rgba(17, 19, 23, 0.5) !important;
                    text-transform: uppercase;
                }
            }
            &__progress {
                .es-progress-bar {
                    margin-bottom: @margin-md;
                }

                button {
                    margin: 0 auto;
                }
            }
        }

        img {
            width: 40px;
        }
    }

    .ant-tabs-nav-scroll {
        display: flex;
        justify-content: center;
    }

    .ant-tabs-bar {
        margin-bottom: 0;
        background: #fff;
    }

    & .performance {
        padding-top: 52px;
        padding-bottom: 32px;
        border: 0.5px solid rgba(17, 19, 23, 0.15);
        background-color: rgba(247, 249, 252, 1);

        & .es-card {
            height: 100%;
        }

        &__card-commitment {
            &__content {
                height: 100%;
                align-items: center;
                justify-content: center;

                &--emoticon {
                    display: flex;
                    flex-direction: column;
                    width: min-content;
                    margin-bottom: 20px;

                    &--text {
                        display: flex;
                        justify-content: space-between;
                        margin: 4px 6px 0 6px;
                    }
                }
            }

            & > .ant-card-body {
                height: ~'calc(100% - 25px)';
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }

    & .interactions {
        padding-top: 48px;
        padding-bottom: 16px;

        &__column {
            margin-bottom: 32px;
        }
    }

    & .lives {
        & .ant-divider {
            margin-top: @margin-md * 4;
            margin-bottom: 0;
        }
    }

    & .next-lives {
        margin-bottom: 60px;

        &__title {
            font-size: @font-size-lg;
            margin-bottom: @margin-lg - 4;
        }

        &__card__action--remember {
            color: darken(@normal-color, 22);

            & .es-eva-icon svg {
                fill: darken(@normal-color, 22);
            }
        }
    }

    @media (min-width: @screen-sm) {
        &__header {
            &__container {
                &__progress {
                    .es-progress-bar {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    @media (min-width: @screen-md) {
        &__header {
            &__container {
                &__about-course {
                    padding-bottom: 0;
                    border-bottom: 0;
                    border-right: 1px solid rgba(17, 19, 23, 0.15);
                }

                &__progress {
                    padding-left: @padding-md * 2 !important;
                }
            }
        }

        .ant-tabs-tab {
            margin-right: 16px !important;
        }
    }
}

.mb-md {
    margin-bottom: 16px;
}
