.es-password-recovery-template {
    display: flex;
    justify-content: center;
    padding: @padding-xl * 2.25 @padding-md 0 @padding-md;
    overflow-y: auto;
    background: @white;

    &--without-brand-header {
        &,
        .es-password-recovery-template__content {
            padding-top: @padding-sm;
        }
    }

    &__header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }

    &__content {
        max-width: 360px;

        &__infos {
            margin-bottom: @margin-md;

            &--large-margin {
                margin-bottom: @margin-lg;
            }

            text-align: center;

            &--title {
                color: @grey-solid-9;
            }

            &--subtitle {
                color: @grey-solid-7;
            }

            .es-typography {
                text-align: center;
            }

            img {
                max-width: 75%;
                margin-bottom: @margin-lg;
            }
        }

        &__actions {
            .es-typography {
                text-align: center;
            }
        }

        @media (min-width: @screen-md) {
            padding-top: 78px;

            &__infos {
                &--large-margin {
                    margin-bottom: @margin-xxl;
                }

                img {
                    max-width: 100%;
                    margin-bottom: @margin-xxl;
                }
            }
        }
    }
}
