.es-metric-card {
    &__content {
        text-align: center;
    }

    img {
        width: 75px;
    }
}

.es-metric-card-badge {
    border-radius: 10px;
    max-width: fit-content;
    padding: 5px 10px;
    color: @black;
    margin: 4px auto;

    &--success {
        background: #cafcb380;
    }

    &--warning {
        background: rgba(255, 235, 194, 0.5);
    }

    &--danger {
        background: rgba(255, 189, 189, 0.5);
    }
}
