.questions-historic {
    background-color: @grey-solid-2;
    padding-top: @padding-md;
    flex: 1;

    &__header {
        border-bottom: 1px solid @grey-3;
        box-shadow: 0 1px 2px @grey-3;

        & .es-session-title {
            margin-top: 29px;
            margin-bottom: 30px;

            & .es-form-item {
                margin: 0;
            }
        }
    }
}
