@import './Video/style.less';
@import './Mock/style.less';
@import './Document/style.less';

.classroom {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: @grey-solid-9;

    &__loader {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;

        & .ant-spin-dot-item {
            background-color: @white;
        }
    }
}
