.es-comment {
    &__title {
        display: flex;
        align-items: center;
    }

    &__badge {
        border-radius: @border-radius-base;
        margin-left: @margin-sm;
        padding: 1px 4px;
        font-weight: bold;
        font-size: @font-size-xs;
        background-color: @gold-1;
        color: @gold-4;
    }

    & .ant-comment {
        &-avatar {
            margin-right: @margin-lg;
        }

        &-content-author {
            margin-bottom: @margin-sm;

            &-name {
                align-items: center;
                display: flex;
            }

            &-time {
                &:before {
                    content: '•';
                    margin-right: @margin-xs;
                }
            }
        }
    }

    &__dark {
        & .ant-comment-content {
            &-detail .es-typography {
                color: @grey-solid-2;
            }

            &-author {
                &-name {
                    & .es-typography {
                        color: @white-7 !important;
                    }
                }
                &-time {
                    color: @white-5 !important;
                }
            }
        }
    }
}
