@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:700&display=swap');

.title {
    display: flex;
}

.badge-text {
    font-size: 10px;
    font-family: 'Nunito Sans';
    font-weight: bold;
}

.badge {
    background-color: #ffebc2;
    border-radius: 4px;
    margin-left: 10px;
    padding: 3px;
}
