.es-eva-icon {
    & svg {
        fill: @normal-color;
    }

    & i.eva-hover {
        display: flex;
    }

    &--small svg {
        width: 16px;
        height: 16px;
    }
    &--medium svg {
        width: 20px;
        height: 20px;
    }
    &--large svg {
        width: 24px;
        height: 24px;
    }
    &--xlarge svg {
        width: 30px;
        height: 30px;
    }

    &--primary svg {
        fill: @primary-color;
    }
    &--secondary svg {
        fill: @primary-color;
    }
    &--success svg {
        fill: @success-color;
    }
    &--warning svg {
        fill: @warning-color;
    }
    &--error svg {
        fill: @error-color;
    }
    &--info svg {
        fill: @info-color;
    }
    &--default svg {
        fill: @normal-color;
    }
}
