.es-progress-bar {
    &__icon {
        margin-right: @margin-xs;

        & i.es-eva-icon {
            vertical-align: middle;
        }
    }

    &__title {
        font-size: @font-size-sm !important;
        font-weight: bold;
        color: @grey-8;
    }

    & .es-badge-percent {
        vertical-align: text-bottom;
    }

    &__progress {
        position: relative;
        line-height: 0;
        &--limit {
            background-color: darken(@grey-2, 90);
            position: absolute;
            right: 0;
            bottom: 0;
            height: 4px;
            border-radius: 3px;
        }

        & .ant-progress {
            line-height: 0;
            margin-top: @margin-sm;
        }

        & .ant-progress-inner {
            background-color: @grey-2;
            height: 4px;

            & .ant-progress-bg {
                height: 4px !important;
                background-color: fade(@yellow-2, 60);
                z-index: 2;
            }
        }
    }

    & h4.ant-typography {
        margin-bottom: 0;
    }
}
