.es-progress-bar {
    &__icon {
        margin-right: @margin-xs;
    }

    &__title {
        font-size: @font-size-sm !important;
        font-weight: bold;
    }

    &__progress {
        position: relative;
        &--limit {
            background-color: darken(@normal-color, 17);
            position: absolute;
            right: 0;
            bottom: ~'calc(50% - 3.4px)';
            height: @border-radius-sm * 2px;
            border-radius: @border-radius-sm;
        }
        & .ant-progress-inner {
            background-color: lighten(@normal-color, 5);
            & .ant-progress-bg {
                height: @border-radius-sm * 2 !important;
                background-color: fade(@warning-color, 60);
                z-index: 2;
            }
        }
    }

    & h4.ant-typography {
        margin-bottom: 0;
    }
}
