@grey-1: rgba(17, 19, 23, 0.05);
@grey-2: rgba(17, 19, 23, 0.1);
@grey-3: rgba(17, 19, 23, 0.15);
@grey-4: rgba(17, 19, 23, 0.25);
@grey-5: rgba(17, 19, 23, 0.4);
@grey-6: rgba(17, 19, 23, 0.5);
@grey-7: rgba(17, 19, 23, 0.65);
@grey-8: rgba(17, 19, 23, 0.75);
@grey-9: rgba(17, 19, 23, 0.85);
@grey-10: rgba(17, 19, 23, 0.95);
