.es-navigation-list {
    border: none;
    margin-top: @margin-md;

    &-item {
        transition: none !important;
        font-size: @font-size-sm !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0;
        text-transform: uppercase;

        & > span {
            display: flex;
            align-items: center;
        }

        & .es-eva-icon {
            color: @white-5;
        }

        &:hover,
        &.ant-menu-item-active,
        &.ant-menu-item-selected {
            border-left: 2px solid @white;
            background-color: @white-1;

            & .es-eva-icon {
                color: @white;
            }
        }

        &:hover {
            background-color: @white-2;
        }

        &__arrow {
            margin: 0 !important;
        }
    }
}
