.es-list-view-item {
    max-width: 100%;
    padding: @padding-md + 4 0;

    &:nth-child(1) {
        padding: 0 0 @padding-lg - 4px 0;
    }

    &:nth-last-child(1) {
        padding-bottom: 0;
    }

    &__container {
        min-height: 59px;
    }

    > div {
        width: 100%;
    }

    &--avatar {
        margin-top: @margin-xs / 2;
    }

    &__content {
        overflow: hidden;

        > div:first-child span {
            display: block;
        }

        &--category {
            font-size: @font-size-xs;
            cursor: default !important;
        }

        &--title {
            max-width: 100%;
        }
    }

    @media (min-width: @screen-md) {
        &__container {
            align-items: center;
        }

        &__content {
            &--counter {
                text-align: right;
            }
        }
    }
}
