.san-portal-layout {
    min-height: 100vh !important;

    &__container {
        width: 100%;
        max-width: 1008px;
        padding: 16px;
        margin: 0 auto;
    }

    &__content {
        background: @white;
    }
}
