.san-portal-layout {
    min-height: 100vh !important;

    &__container {
        width: 100%;
        max-width: 1008px;
        padding: 16px;
        margin: 0 auto;
    }

    & .ant-layout,
    &__footer,
    &__content {
        background: @white;
    }

    &__footer {
        padding: 0;

        &--divider {
            margin-top: 0;
        }

        &--contact {
            &--help {
                & .es-button {
                    background-color: rgba(247, 249, 252, 1);
                    box-shadow: 0 1px 2px rgba(17, 19, 23, 0.15);
                }
            }

            &--email,
            &--phone {
                justify-content: center;
                display: flex;
                align-items: center;
                font-size: @font-size-base;
                & .es-eva-icon svg {
                    fill: darken(@normal-color, 45);
                    margin-right: @margin-xs / 2;
                }
            }
            &--attendance {
                font-size: @font-size-sm !important;
                text-align: end;
                line-height: 1.8;
            }
        }

        &--copyright {
            margin: @margin-lg 0;
            font-size: @font-size-sm !important;
        }
    }

    @media (max-width: @screen-sm) {
        &__footer--contact--attendance {
            margin-bottom: 0 !important;
        }
    }

    @media (max-width: @screen-md) {
        &__footer--contact {
            &--logo,
            &--attendance,
            &--help,
            &--email,
            &--phone {
                margin-bottom: @margin-lg;
                text-align: center;
                justify-content: center;
            }
        }
    }

    @media (max-width: @screen-lg) {
        &__footer--contact--logo {
            margin-bottom: @margin-lg;
            text-align: center;
            justify-content: center;
        }
    }
}
