.san-tab-course-content {
    &__continue {
        background: rgba(247, 249, 252, 1);
        padding: @padding-md 0;
        border-bottom: 0.5px solid @grey-3;

        &--card {
            margin-bottom: @margin-lg;
        }
    }

    & .lives {
        & .ant-divider {
            margin-top: @margin-lg * 2;
            margin-bottom: 0;
        }
    }

    & .next-lives {
        margin-bottom: @margin-xs;

        &__title {
            font-size: @font-size-lg;
            margin-bottom: @margin-lg - 4;
        }
    }

    &__modules {
        .es-pagination {
            text-align: center;
        }

        &--divider {
            margin: @margin-md 0 @margin-md 0;
            // margin: @margin-xl + @margin-md 0;
        }

        &--module-feature {
            margin-bottom: @margin-md !important;
        }

        &--card-action {
            display: none !important;

            @media (min-width: @screen-sm) {
                display: inline-block !important;
            }
        }

        @media (min-width: @screen-md) {
            &--divider {
                margin: @margin-xl + @margin-md 0;
            }

            &--module-feature {
                margin-bottom: 0 !important;
            }
        }
    }

    @media (min-width: @screen-xl) {
        &__modules {
            .es-carousel {
                margin: 0 @margin-md + @margin-lg;
            }
        }
    }
}
