.es-question {
    padding: 5%;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    background-color: #ffffff;
    border-top: 0.5px solid rgba(17, 19, 23, 0.15);
    border-right: 0.5px solid rgba(17, 19, 23, 0.15);
    border-left: 0.5px solid rgba(17, 19, 23, 0.15);
    &__title {
        padding-bottom: 30px;
    }
    &__subtitle {
        padding-bottom: 40px;
    }
}

.footer {
    border: 0.5px solid rgba(17, 19, 23, 0.15);
    padding-right: 5%;
    padding-left: 5%;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    background-color: #ffffff;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
